*.DS_Store
*.iws
/out/
.idea_modules/
*.class
*.log
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.ensime_cache/
.ensime
.idea
build
.env
data/*.dat
data/*.qrels
.ivy2/
.sbt/
*.sc
ux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.dvi
*.xdv
*-converted-to.*
.pdf


