<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %date{ISO8601} %-5level %-25logger{25} %+3X{user} %replace(%.-2000msg){'\\r\\n', ' '} %ex%n
            </pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="io.grpc.netty" level="INFO" />
    <logger name="io.netty" level="INFO" />
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
</configuration>